<%- include('../partials/header') %>

<form id="create" method="POST" action="/posts/<%= post.id %>?_method=PUT">
    <label class="new">Post Title:</label>
    <input type="text" name="title" value="<%= post.title %>">
    <br>
    <label class="new">Content:</label>
    <textarea name="content" rows="10" cols="50"><%= post.content %></textarea>
    <br>
    <label class="new">Allow Comments:</label>
    <input 
        class="new"
        type="checkbox"
        name="allowComment" 
        <% if (post.allowComment) { %>
            checked
        <% } %>
    >
    <br>
    <button type="submit">Update Post</button>
</form>

<%- include('../partials/footer') %>