<%- include('../partials/header') %>

<table class="contentTable">
    <thead class="contentTable">
        <tr>
            <th class="contentTable">Title</th>
            <th class="contentTable">Top Secret Posts</th>
            <th class="contentTable">Details</th>
        </tr>
    </thead>
    <tbody>
        <% posts.forEach(function(post) { %>
            <tr>
                <td class="contentTable"><%= post.title %></td>
                <td id="redact" class="contentTable"><%= post.content %></td>
                <td class="contentTable"> <a href="/posts/<%= post.id %>">Read Post</a></td>
            </tr>
        <% }) %>
    </tbody>
</table>

<%- include('../partials/footer') %>