<%- include('../partials/header') %>

<section id="showPost">
    <div>Title:</div>
    <div><%= post.title %></div>
    <div>Content:</div>
    <div><%= post.content %></div>
    <div>Posted:</div>
    <div><%= post.createdAt %></div>
    <a href="/posts/<%= post.id %>/edit">Update Post</a>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Post</button>
    </form>
    <!-- <% if(user?._id.equals(post.user)) { %> -->
    <!-- <% } %> -->
</section>

<h3>Comments</h3>
<section>
    <form id="addComment" method="POST" action="/posts/<%= post.id %>/comments">
        <label>Add Comment</label>
        <textarea name="content"></textarea>
        <label>Rating</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
        </select>
        <input type="submit">
    </form>
    <br>
<% if (post.comments.length) { %>
    <table>
        <thead>
            <tr>
                <th>Posted</th>
                <th>Comment</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
        <% post.comments.forEach(function(p) { %>
            <tr>
                <td><%= p.createdAt.toLocaleDateString() %></td>
                <td><%= p.content %></td>
                <td><%= p.rating %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
<% } else { %>
    <h3>No Comments Yet</h3>
<% } %>   
</section>

<%- include('../partials/footer') %>