<%- include('../partials/header') %>

<section>
    <div>Title:</div>
    <div><%= post.title %></div>
    <div>Content:</div>
    <div><%= post.content %></div>
    <div>Posted:</div>
    <div><%= post.createdAt %></div>
    <a href="/posts/<%= post.id%>/edit">Update Post</a>
    <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Post</button>
    </form>
    <!-- <% if(user?._id.equals(post.user)) { %> -->
    <!-- <% } %> -->
</section>

<%- include('../partials/footer') %>