<%- include('../partials/header') %>

<section id="showPost">
    <div class="showHead">Title:</div>
    <div><%= post.title %></div>
    <div class="showHead">Content:</div>
    <div><%= post.content %></div>
    <div class="whenPost">Posted:<%= post.createdAt.toLocaleDateString() %></div>
    <% if(user?._id.equals(post.user)) { %>
        <form action="/posts/<%= post.id %>/edit" method="PUT">
            <button type="submit">Update Post</button>
        </form>
        <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Post</button>
        </form>
    <% } %>
    
</section>
<% if (post.allowComment) { %>
<h3 class="showHead">Comments</h3>
<section>
    <form id="addComment" method="POST" action="/posts/<%= post.id %>/comments">
        <label class="showHead">Add Comment</label>
        <textarea name="content"></textarea>
        <label class="showHead">Rating</label>
        <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3" selected>3</option>
        </select>
        <input type="submit">
    </form>
    <br>
    <% if (post.comments.length) { %>
    <table>
        <thead>
            <tr>
            
                <th>Comment</th>
                <th>Posted</th>
                <th>Rating</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <% post.comments.forEach(function(com) { %>
            <tr>
                <td><%= com.content %></td>
                <td><%= com.createdAt.toLocaleDateString() %></td>
                <td><%= com.rating %></td>
                <td>
                    <% if(user?._id.equals(com.user)) { %>
                        <form action="/comments/<%= com.id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                    <% } %>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
    <% } else { %>
    <h3 class="showHead">No Comments</h3>
    <% } %>
<% } %>
</section>

<%- include('../partials/footer') %>